<div class="navbar">
    <div class="nav-links">
        <a href="">Films</a>
        <a href="">Series</a>
        <a href="">Comments</a>
        <a href="{{ path("app_user_admin") }}">Users</a>
    </div>
    <div class="nav-links">
        <a href="#">User: {{ app.user.username }} | Role: {{ app.user.roles|join(', ') }}</a>
    </div>
</div>