<div class="navbar">
    <div class="nav-links">
        <a href="{{ path("app_film_admin") }}">Films</a>
        <a href="{{ path("app_series") }}">Series</a>
        <a href="#">Comments</a>
        <a href="{{ path("app_user") }}">Users</a>
    </div>
    <div class="nav-links">
        <a href="">User: {{ app.user.username }} | Role: Admin </a>
    </div>
</div>