<div class="navbar">
    <div class="nav-links">
        <a href="">Films</a>
        <a href="">Series</a>
        <a href="">Comments</a>
        <a href="">Users</a>
    </div>
    <div class="nav-links">
        <a href="">User: nomuser | Role: admin</a>
    </div>
</div>