{% extends 'base.html.twig' %}

{% block title %}Film show{% endblock %}

{% block body %}
<div class="adminBackground min-vh-100">
<div class="container">

    <div class="d-flex">
        <div class="imageFilmAdmin">
        </div>
        <div class="mx-3">
            <h2>{{ film.title }}</h2>
            <h3>Plateform: </h3>
            <h3>Catégories: </h3>
            <h3>Language: </h3>
            <h3>Pubish Date: {{ film.publishDate|date('Y-m-d')}} </h3>
            <h3>Critical Rate: {{ film.criticalRate }} </h3>
            <p>{{ film.description }}</p>
        </div>
    </div>


</div>
</div>
{% endblock %}