{% extends 'base.html.twig' %}

{% block title %}SearchBar{% endblock %}

{% block body %}

    <div class="container">


        <h2>Résultats de recherche :</h2>

        {% if films is not empty %}
            <ul>
                {% for film in films %}
                    <li>
                        <h3>{{ film.title }}</h3>
                        <p>{{ film.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun produit trouvé pour cette recherche.</p>
        {% endif %}

    </div>






{% endblock %}
