@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --background-color: #232323;
    --inputBackground: #4F5169;
    --red-linear: #FF0000;
    --orange-linear: #FF8800;
    --orange: #FFA10A;
    --violet-light: rgba(160, 167, 255, 0.28)
}

@font-face {
    font-family: 'Koulen';
    src: url('/fonts/Koulen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
height: fit-content !important;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100vw;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: 'Koulen', sans-serif;
    font-weight: 500;

    letter-spacing: 13px;

}


h2, h3, h4, h5, h6 {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h2 {
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 4px;
    color: white;

}

h3 {

    font-size: 29px;
    color: white;
}
h4{
    font-size: 64px;
    font-weight: 500;
    font-family: 'Nunito', serif;
    letter-spacing: 4px;
}

hr {
    border: white 1px solid;
}


.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;
    z-index: 1;
}
.button1:hover{
    background: #fff8f3;
}
.button2 {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    background: var(--orange);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;
    z-index: 1;
}
.button2:hover{
    background:#f3ab37;
}