.homeBackground {
    background: var(--background-color);

}

.mainNav {
    height: fit-content;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 35px;
    box-sizing: border-box;

    margin-bottom: 11vh;
}

.mainNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 47%;
}

.mainNav li a {
    text-decoration: none;
    color: white;
}

.homeBackground form {

    width: 30%;
    flex-direction: row !important;

}

input[type='search'] {
    background: var(--inputBackground);
    color: white;
    border: 0;
    width: 80%;

    border-radius: 11px;
    padding: 7px 15px;
    box-sizing: border-box;

}

input[type='search']::placeholder {
    color: white;
}

.homeBackground form button {

    outline: 0;
    border: 0;
    background: transparent;
    color: white;
}
.homeLightRond {
    background: var(--violet-light);
    border-radius: 50%;
    box-shadow: 0px 0px 272px 267px var(--violet-light);
    width: 30%;
    height: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rillettesTitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: -1;

    width: fit-content;
    font-size: 176px;
    font-weight: bold;
    background: -webkit-linear-gradient(51deg, var(--red-linear), var(--orange-linear));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeBlurBackground {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: fit-content;
    background: #00000075;
    backdrop-filter: blur(6.4px);

    padding-inline: 32px;
    padding-block: 25px 54px;

    box-sizing: border-box;
    border-top: #7575758c 1px solid;
    border-bottom: #7575758c 1px solid;
}

.homeBlurBackground > .filmList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    gap: 47px;

    padding-inline: 61px;
    margin-inline: 20px;
    color: white;
}

.homeBlurBackground > div a{
   width: fit-content;
}

.homeBlurBackground > div img, .homeFilms > div img {

    max-height: 31vh;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.searchFilm{

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1%;
}
.searchFilm div{
    width: 30%;
    justify-content: start;
    flex-direction: column;

    display: flex;
    margin-block: 20px;
    gap: 20px;
    text-decoration: none;
    border: #5b5b5b 1px solid;
    border-radius: 20px;
    padding: 20px;
}
.searchFilm div a{
width: 100%;
    text-decoration: none;
}
.homeFilms {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: fit-content;

    padding: 25px;
    box-sizing: border-box;
}
.homeFilms div{

    width: 100%;
    justify-content: center;
    flex-direction: row;

    align-items: stretch;
    flex-wrap: wrap;
    display: flex;
    margin-block: 20px;
    gap: 1%;


    padding-inline: 4%;
    margin-inline: 20px;
    color: white;

}
.homeFilms div div{
    width: 29%;
    justify-content: start;
    flex-direction: column;

    display: flex;
    margin-block: 20px;
    gap: 1%;
    border: 0 !important;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
}
.homeFilms div div a{
    text-decoration: none;
}
.homeFilms .titlerow {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.svgFletcher {
    width: 25px !important;
    height: 25px !important;
}

.filmSeriesImage{
    border-radius: 20px;
}