{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}



    <div class="comments-section mb-5">
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item d-flex justify-content-between align-items-start bg-light mb-3 rounded">
                    <div class="comment-body">
                        <p class="mb-2">{{ comment.content }}</p>
                        <small class="text-muted">Posté le {{ comment.createdAt|date('Y-m-d H:i') }}</small>
                    </div>

                    <div>
                        <a href="{{ path('app_comment_delete', {id: comment.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">Supprimer</a>
                        <a href="{{ path('app_comment_show_admin', {id: comment.id}) }}">Voir</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>




{% endblock %}
